.small-input {
    width: 312px;
    height: 20px;
    padding: 5px;
    font-size: 14px;
}
button {
    padding: 5px;
    margin: 5px 0px;
    border-radius: 5px;
}
li {
    margin: 7px 0px;
}
html {
    background-color: rgb(255, 230, 210);
    margin-bottom: 20%;
}
.black-hr {
    border-color: black;
    background: black;
}
.arabic {
    font-size: 25px;
    text-align: justify;
    text-align-last: right;
}
h3 {
    border: 3px solid black; /* Border style */
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
}
#book {
    font-size: 15px;
    overflow-y: auto;
    border-radius: 20px;
    border-width: 5px;
    cursor: grab;
}
#book option {
    padding: 5px;
    font-weight: bold;
}
#book option:checked {
    background-color: rgba(50, 100, 255, 0.5);
    font-weight: bolder;
    cursor: grabbing;
    text-align: center;
    transition-duration: 200ms;
}

/* Styles for desktop screens */
@media (min-width: 700px) {
    h3 {
        margin-right: 10%;
        margin-left: 10%;
    }
}
@media (min-width: 1000px) {
    h3 {
        margin-right: 35%;
        margin-left: auto;
    }
}
@media (min-width: 1200px) {
    h3 {
        margin-right: 45%;
        margin-left: auto;
    }
}
@media (min-width: 1400px) {
    h3 {
        margin-right: 55%;
        margin-left: auto;
    }
}
@media (min-width: 1600px) {
    h3 {
        margin-right: 60%;
        margin-left: auto;
    }
}

#notification {
    display: none;
    position: fixed;
    top: 10px;
    right: 55px;
    background-color: #0ecd47;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.toc-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.toc {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.15s ease;
    border-radius: 10px;
    z-index: 1000;
}
.toc ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}
.toc li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.toc li:last-child {
    border-bottom: none;
}
.toc li a {
    text-decoration: none;
    color: #333;
}
.toc.open {
    transform: translate(-50%, -50%) scale(1);
}
/* Overlay for background click to close the modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}
.overlay.open {
    display: block;
}
